

/* mine css for the style  
.post{
margin-top: 4rem;
background: white;
max-height: 500rem;
box-shadow: 10px 10px 23px #222;
}

.postImage img{
     max-width: 700px ;
    max-height: 789px;
    object-fit: cover;
    padding: 20px;
}

.name{
    position: relative;top: 15px;
    display: flex;
align-items: center;
padding-left: 33px;
}
.name h4{
    margin-left: 4rem;
    letter-spacing: 3px;
}

 */





 /* new css here of the clever programmer  */

.post{
    margin-top: 3rem;
    box-sizing: border-box;
    max-width: auto;
    box-shadow: 3px 5px 20px rgb(220, 211, 211);
    padding: 10px;
    border-radius: 10px;
}


 .post_top{
    display: flex;
    
 }

 .post_image img{
    width: 100%;
 }

 .post_avatar{
    margin-right: 10px;
 }
.post_bottom{
    padding: 10px;
 margin-top: 10px;
}

.post_options{
    display: flex;
 justify-content: space-evenly;
 padding-top: 10px;
 border-top: 1px solid lightgrey;
 padding: 15px;
 color: grey;
 cursor: pointer;
 font-size: medium;
}

.postoption{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;

}

.postoption:hover{
    border-radius: 10px ;
    background-color: lavenderblush;
    
}

.postoption > p{
    margin-left: 10px;
}

.postoption:hover > .MuiSvgIcon-root{

    color: blue;
}